/*--------------------------------------------------------------
5.0 Header Styling
--------------------------------------------------------------*/
.screenReaderSkipToContent{
	position: absolute;
	top: -100px;
	&:focus{
		left: 6px;
    top: 7px;
    height: auto;
    width: auto;
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 23px 14px;
    background: $brandColor;
    color: $white;
    z-index: 100000;
    line-height: normal;
    text-decoration: none;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
	}
}
#mastheadInner {
	border-top: 20px solid $black;
}
#logoWrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 95%;
}
.custom-logo-link {
 img {
	 width: 300px;
	 height: auto;
	 padding: 10px 0;
	 @include breakpoint (laptopScreen) {
		 width: 500px;
	 }
 }
}
.entry-header{
	display:none;
}
nav{
	width: 100%;
}
