/*--------------------------------------------------------------
11.0 Homepage
--------------------------------------------------------------*/
.mobileHeroTitleOuter {
  background-color: $black;
  color: $white;
  padding: 50px 20px;
  text-align: center;
  @include breakpoint (tabletScreen) {
    display: none;
  }
}
.brandsContainerOuter {
  border-bottom: 10px solid $black;
  .brandsContainerInner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
    img {
      margin-bottom: 5px;
      @include breakpoint (tabletScreen) {
        margin-bottom: 3px;
      }
    }
  }
}
.imageContainer {
  background-color: $black;
  padding-top: 10px;
}
.overlay {
  display: none;
  @include breakpoint (tabletScreen) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    background-color: rgba(0,0,0,0.6);
    height: calc(100% - 165px);
    width: 100%;
    z-index: 2;
    h1 {
      color: $white;
      text-shadow: 0 0 10px rgba(0,0,0,0.9);
      display: none;
      @include breakpoint (tabletScreen) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
      }
    }
  }
}
.brandLogoWrap {
  .brandLogoInner {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 165px;
    img {
      width: 40%;
      @include breakpoint (largeMobileScreen) {
        width: 30%;
      }
      @include breakpoint (tabletScreen) {
        width: 65%;
      }
      @include breakpoint (largeScreen) {
        width: 45%;
      }
    }
  }
}
#lemco {
  .brandLogoWrap {
    .brandLogoInner {
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 165px;
      img {
        width: 40%;
        @include breakpoint (largeMobileScreen) {
          width: 30%;
        }
        @include breakpoint (tabletScreen) {
          width: 65%;
        }
        @include breakpoint (largeScreen) {
          width: 35%;
        }
        @include breakpoint (extraLargeScreen) {
          width: 32%;
        }
        @include breakpoint (megaScreen) {
          width: 28%;
        }
      }
    }
  }
}
.pageContentContainer {
  text-align: center;
}
