/*--------------------------------------------------------------
10.0 Icons
--------------------------------------------------------------*/
.arrow {
  fill: $black;
  stroke: $black;
}
.footerSocialIcon{
	stroke: $black;
  fill: $black;
	margin: -5px;
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
	height: 30px;
	width: 30px;
		&:hover{
			stroke: $white;
		  fill: $white;
			-webkit-transition: .3s ease all;
			transition: .3s ease all;
		}
}
.smallIcon{
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}
.icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  stroke-width: 0;
}
.searchIcons {
  position: absolute;
  top: 0;
  left: 0;
  stroke: $black;
  fill: $black;
}
.icon-copyright {
  stroke: $white;
  fill: $white;
  height: 12px;
  width: 12px;
}
/*9.0 Icon Styling -------------------------------------------*/
svg {
	width: 0;
}
.whiteIcon{
	stroke: $white;
	fill: $white;
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
	width: 20px;
	height: 20px;
}
.greyIcon{
	color: $lightGrey;
}
.primaryIcon{
	color: $brandColor;
	font-size: 16px;
}
.iconBlock{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.footerSocialIcon{
	stroke: $brandColor;
  fill: $brandColor;
	margin: -5px;
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
	height: 30px;
	width: 30px;
		&:hover{
			stroke: $white;
		  fill: $white;
			-webkit-transition: .3s ease all;
			transition: .3s ease all;
		}
}
.arrowIcon{
	margin-left: 20px;
	stroke: $brandColor;
	fill: $brandColor;
	-webkit-transition: .3s ease all;
	transition: .3s ease all;
	width: 40px;
	height: 40px;
}
.icon-angle-double-right {
  position: relative;
	top: -5px;
}
.smallIcon{
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}
.icon{
  display: inline-block;
  width: 14px;
  height: 14px;
  stroke-width: 0;
  stroke: $white;
  fill: $white;
}
.blackIcon{
  display: inline-block;
  width: 14px;
  height: 14px;
  stroke-width: 0;
  stroke: $black;
  fill: $black;
}
.blueIcon{
  display: inline-block;
  width: 14px;
  height: 14px;
  stroke-width: 0;
  stroke: $brandColor;
  fill: $brandColor;
}
.mediumIcon{
	display: inline-block;
  width: 16px;
  height: 16px;
  stroke-width: 0;
  stroke: $white;
  fill: $white;
}
.path1 {
	fill:#FFFFFF;
}
.path2 {
	fill:#A6A8AB;
}
.path3 {
	fill:#404041;
}
