/*--------------------------------------------------------------
3.0 Our page layouts
--------------------------------------------------------------*/
.col20{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 20%;
    }
}
.col25{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 25%;
    }
}
.col30{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 33.3333%;
    }
}
.col30SplitTablet{
	width: 100%;
    @include breakpoint(largeMobileScreen){
      width: 50%;
    }
    @include breakpoint(largeScreen){
      width: 33.3333%;
    }
}
.col40{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 40%;
    }
}
.col50{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 50%;
    }
}
.col60{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 60%;
    }
}
.col70{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 70%;
    }
}
.col80{
  width: 100%;
    @include breakpoint(laptopScreen){
      width: 80%;
    }
}
.pageWidth{
	width: 95%;
	height: 100%;
	margin: 0 auto;
		@include breakpoint(largeScreen){
	    width: 60%;
	  }
	}
.fullWidth{
  width: 100%;
}
.navWidth{
	height: 100%;
	margin: 0 auto;
	width: 95%;
	@include breakpoint(largeScreen){
		width: 90%;
	}
}
.flexContainer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
    @include breakpoint(tabletScreen){
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
}
.blockImage{
	width: 100%;
	height: auto;
}
.paddedSection{
	padding: 50px 0;
}
.limitWidth{
  max-width: 750px;
	margin: 0 auto;
}
