/*--------------------------------------------------------------
3.0 Our page layouts
--------------------------------------------------------------*/
.col20{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 20%;
    }
}
.col25{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 25%;
    }
}
.col30{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 33.3333%;
    }
}
.col30SplitTablet{
	width: 100%;
    @include breakpoint(largeMobileScreen){
      width: 50%;
    }
    @include breakpoint(largeScreen){
      width: 33.3333%;
    }
}
.col40{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 40%;
    }
}
.col50{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 50%;
    }
}
.col60{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 60%;
    }
}
.col70{
	width: 100%;
    @include breakpoint(laptopScreen){
      width: 70%;
    }
}
.col80{
  width: 100%;
    @include breakpoint(laptopScreen){
      width: 80%;
    }
}
.pageWidth{
	width: 95%;
	height: 100%;
	margin: 0 auto;
		@include breakpoint(largeScreen){
	    width: 60%;
	  }
	}
.fullWidth{
  width: 100%;
}
.navWidth{
	height: 100%;
	margin: 0 auto;
	width: 95%;
	@include breakpoint(largeScreen){
		width: 90%;
	}
}
.fullWidthBlock{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 100px 0;
}
.blockText{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	max-width: 800px;
  margin: 0 auto;
	padding: 0;
    @include breakpoint(laptopScreen){
      padding: 20px;
    }
}
.hero {
	position: relative;
	z-index: 1;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 50vh;
}
.container {
	padding-bottom: 50px;
}
.flexContainer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
    @include breakpoint(laptopScreen){
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
}
.flexContainerReverse{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: column-reverse;
	        flex-direction: column-reverse;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
    @include breakpoint(laptopScreen){
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
    }
}
.flexWrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	@include breakpoint (tabletScreen) {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
}
.flexCenter {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.wrappedFlexContainerCenter{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.wrappedFlexContainer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
  justify-content: center;
	@include breakpoint (laptopScreen) {
		justify-content: flex-start;
	}
}
.centerAlignedContainer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.textWrap{
	padding: 0 10px;
	@include breakpoint(tabletScreen) {
		padding: 0 20px;
	}
}
.image{
	width: 100%;
	height: auto;
}
.textBlock{
	max-width: 1000px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
	@include breakpoint (laptopScreen) {
		max-width: 700px;
	}
}
.centerTextBlock {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.page-content{
	position: relative;
	z-index: 2;
	margin-top: 50px;
	background: $white;
}
.paddedSection{
	padding: 0 0 50px 0;
}
.smallPaddedSection{
	padding: 0 0 25px 0;
}
.limitWidth{
  max-width: 1050px;
	margin: 0 auto;
}
