/*--------------------------------------------------------------
15.0 Sitemap
--------------------------------------------------------------*/
#sitemapEntry{
  @include breakpoint(smallScreen){
    margin-top: 75px;
  }
  @include breakpoint(largeMobileScreen){
    margin-top: 75px;
  }
  @include breakpoint(laptopScreen){
    margin-top: 150px;
  }
}
#text{
  display: none;
}
.newsPosts{
  padding-left: 40px;
  a{
    text-decoration: none;
  	-webkit-transition: .2s ease all;
  	transition: .2s ease all;
  	position: relative;
    &:hover{
      color: $brandColor;
      -webkit-transition: .2s ease all;
      transition: .2s ease all;
    }
  }
}
.pagenav{
  list-style-type: none;
  ul {
    padding-left: 40px;
  }
}
