/*--------------------------------------------------------------
7.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: $black;
	font-family: $roboto;
	font-size: 18px;
	line-height: 1.4em;
	@include breakpoint (largeMobileScreen) {
		font-size: 20px;
	}
}
h1,h2,h3,h4,h5,h6 {
	font-family: $roboto;
	font-weight: 700;
	color: $brandColor;
	line-height: 1.4em;
	margin-top: 0;
	margin-bottom: 15px;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.4em;
}
h5 {
	font-size: 1.3em;
}
h6 {
	font-size: 1.2em;
}
p {
	margin-top: 0;
	margin-bottom: 1em !important;
}
.whiteText {
	color: $white;
}
.centerText{
	text-align: center;
}
.largeHeading {
	font-size: 2em;
	font-weight: 700;
}
.mediumHeading {
	font-size: 1.4em;
	font-weight: 700;
}
.smallHeading {
	font-size: .8em;
	margin-bottom: 0;
}
