/*--------------------------------------------------------------
2.0 Variables
--------------------------------------------------------------*/
/*******************************************************************
Color Variables
*******************************************************************/
$brandColor: #112671;
$black: #303030;
$darkGrey: #4a4a4a;
$white: #FFFFFF;
$lightGrey: #f6f6f6;
$transparent: rgba(0,0,0,0);

/*******************************************************************
Font Variables
*******************************************************************/
$roboto: 'Roboto', sans-serif;
