#wphead {
  border-bottom: #000000 1px solid;
  background-color: #000000 !important;
  background: -moz-linear-gradient(bottom,#E4F0FE,#B0C4DE);
  background: -webkit-gradient(linear,left bottom,left top,from(#E4F0FE),to(#B0C4DE));
}
#wpfooter {
  background-color: #d31b45 !important;
  color: #ffffff !important;
}
#wpfooter a {
  color: #f6f6f6 !important;
}
#wpfooter a:hover {
  color: #bbbbbb !important;
}
#menu-comments, #menu-tools, #wp-admin-bar-updates, #wp-admin-bar-comments, #wp-admin-bar-new-content {
  display: none;
}
#menu-appearance li:last-of-type, #menu-plugins li:last-of-type, #menu-dashboard li:last-of-type{
  display: none;
}
/* Login Screen Styles */
body.login {
  background-color: #f6f6f6;
}
#login h1 a, .login h1 a {
  background-image: url("https://dl.dropboxusercontent.com/s/hbwh6mv5bvdl7jv/Insight-logo-color-open-center.png?dl=0");
  height: 200px;
  width: 100%;
  background-size: 200px 200px;
  background-repeat: no-repeat;
}
body.login div#login form#loginform {
  background: #d31b45;
}
body.login div#login form#loginform p label {
  color: #ffffff;
}
body.login div#login form#loginform p.submit input#wp-submit {
  background-color: #ffffff;
  color: #d31b45;
  transition: .2s ease all;
  text-shadow: none;
  border: none;
}
body.login div#login form#loginform p.submit input#wp-submit:hover {
  background-color: #f6f6f6;
  color: #ffffff;
  transition: .2s ease all;
}
.login #login_error, .login .message, .login .success {
  border-left: 4px solid #d31b45;
}
